.about-me-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
}
.about-me-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 2.25;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-me-image-container {
  flex: .55;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-text11 {
  display: inline-block;
}
.about-me-text12 {
  display: inline-block;
}

@media(max-width: 1200px) {
  .about-me-image-container {
    flex: 1;
  }
}
@media(max-width: 991px) {
  .about-me-max-width {
    flex-direction: column-reverse;
  }
  .about-me-image-container {
    width: 320px;
  }
}