.button-container {
  display: flex;
  position: relative;
}
.button-button {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.button-text {
  display: inline-block;
  font-size: 0.85em;
  font-family: "Poppins";
}
@media(max-width: 1200px) {
  .button-button {
    display: none;
  }
  .button-text {
    font-size: 0.85em;
    font-family: Poppins;
  }
}
@media(max-width: 479px) {
  .button-button {
    width: 100%;
  }
}
