.learn-more-main-container {
  width: 170%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
}
.learn-more-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.learn-more-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--dl-space-space-unit);
}
.learn-more-relevant-links {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--dl-space-space-quarterunit);
}
.learn-more-trigger {
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
}
.learn-more-icons-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.learn-more-icons {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.learn-more-dropdown-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 0;
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.learn-more-label-text {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 525;
}
.learn-more-button-filled {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  border-color: var(--dl-color-theme-primary3);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-theme-primary3);
}
.learn-more-button-filled:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary1);
  background-color: var(--dl-color-theme-primary1);
}


@media(max-width: 991px) {
  .learn-more-main-container {
    width: 100%;
  }
}