.project-max-width {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
}
.project-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1.25;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.project-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: initial;
  flex-direction: column;
}
.project-main-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.project-role-date-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.project-label-container {
  gap: var(--dl-space-space-quarterunit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.project-image-container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.project-placeholder-image {
  width: 90%;
  align-items: flex-start;
}
.project-tools-text {
  display: inline-block;
  padding-bottom: var(--dl-space-space-halfunit);
}
.project-description-text {
  display: inline-block;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.project-swe {
  background-color: var(--dl-color-theme-accent1);
  border-color: var(--dl-color-theme-accent1);
  display: inline-block;
}
.project-gd {
  background-color: var(--dl-color-theme-accent3);
  border-color: var(--dl-color-theme-accent3);
  display: inline-block;
}

@media(max-width: 1200px) {
  .project-technologies-used {
    font-style: italic;
    font-weight: bold;
  }
  .project-placeholder-image {
    width: 100%;
  }
  .project-tools-text {
    display: inline-block;
    padding-bottom: 0;
  }
}
@media(max-width: 991px) {
  .project-max-width {
    flex-direction: column-reverse;
  }
  .project-image-container {
    padding-top: 0;
    justify-content: center;
  }
}
