.skills-layout349 {
  gap: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
}
.skills-max-width {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
}
.skills-section-title1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: initial;
  flex-direction: column;
}
.skills-content1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 20px;
  justify-content: center;
  border-top-width: 10px;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
.skills-card10 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-card11 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-card12 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-card13 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-card14 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-section-title2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: initial;
  flex-direction: column;
}
.skills-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 20px;
  justify-content: center;
  border-top-width: 10px;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
.skills-card15 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-card16 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-card17 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-card18 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-card19 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-text1 {
  display: inline-block;
}
.skills-text2 {
  display: inline-block;
}
.skills-text3 {
  display: inline-block;
}

@media(max-width: 991px) {
  .skills-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .skills-content1 {
    border-width: 0px;
  }
  .skills-content2 {
    border-width: 0px;
  }
}
